@import 'reset';

body {
  background #f5f5f5
  font-family 'Open Sans', sans-serif
}

.foodapp-wrapper {
  padding-top 50px

  h1 {
    margin-bottom 30px
    font-size 30px
    font-weight 700
    text-align center
  }
}
.foodapp {
  width 500px
  margin 0 auto
}

.foodapp-block {
  margin-bottom 30px
  padding 25px 20px
  background #fff

  h2 {
    margin-bottom 10px
    font-size 20px
  }

  input {
    padding 7px 10px

    &:nth-child(1) {
      width 55%
    }
    &:nth-child(2) {
      width 20%
    }
    &:nth-child(3) {
      width 20%
    }
    &::-webkit-input-placeholder {
    	color #cfcfcf
    }

    &::-moz-placeholder {
    	color #cfcfcf
    }

    &::input-placeholder {
    	color #cfcfcf
    }
  }

  p {
    margin-top 23px
    margin-bottom 10px
    font-size 14px
  }

  ol {
    padding-left 20px
    font-size 14px
    list-style-type decimal

    li {
      margin-bottom 5px
    }
  }
}
